/* Este archivo tendrá todas las reglas css que se apliquen sobre el
 * body y sobre el elemento identificado como Cabecera  que ocupará el 20% de altura de la página
 * (2puntos)
 */

body {
    background: rgb(243, 146, 227);
    margin: 0;
    display: grid;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    height: 100%;
    background-color: coral;
    border-bottom: black solid 2px;
    text-align: center;
}

header > p {
    font-weight: bold;
    font-size: 2em;
}

header > a {
    align-content: center;
}