body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

h1 {
    color: #4CAF50;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    color: #6e05d1;
    text-align: center;
}