body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(34, 139, 230, 0.9);
    opacity: 90%;
    }

svg {
    border: 4px solid black;
    width: 300px;
    height: 200px;
    margin-top: 20%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px grey;
    background-color: rgb(255, 217, 0);
}

text {
    fill: white;
    font-family: Arial, sans-serif;
}
